
body{
    width: 100%;
    background-color: black;
}

.container{
    width: 97%;
    height: 640px;
    margin: 15px;
    /* border: solid 5px rgb(109, 109, 109); */
}

.blok1{
    position: absolute;
    right: 0;
    bottom: 0;
    /* float: right; */
    height: 635px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}

.blok2{
    position: absolute;
    right: 149px;
    bottom: 0;
    /* float: right; */
    height: 560px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}

.blok3{
    position: absolute;
    right: 298px;
    bottom: 0;
    /* float: right; */
    height: 485px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}

.blok4{
    position: absolute;
    right: 447px;
    bottom: 0;
    /* float: right; */
    height: 410px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}

.blok5{
    position: absolute;
    right: 596px;
    bottom: 0;
    /* float: right; */
    height: 335px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}
.blok6{
    position: absolute;
    right: 745px;
    bottom: 0;
    /* float: right; */
    height: 260px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}
.blok7{
    position: absolute;
    right: 894px;
    bottom: 0;
    /* float: right; */
    height: 185px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}

.blok8{
    position: absolute;
    right: 1043px;
    bottom: 0;
    /* float: right; */
    height: 110px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}

.blok9{
    position: absolute;
    right: 1192px;
    bottom: 0;
    /* float: right; */
    height: 35px;
    width: 146px;
    background-color: white;
    margin: 0 0.5px;
}






























html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* clear fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}